/* 
css 주석 처리하는 방법
외부 css 파일을 01_기본선택자.html 파일에 연결하기
→ <link> 태그가 필요하다.

전체 선택자: "*"이 전체 선택자이고, 모든 요소를 선택한다.
*/

* {
    color: red;
}

/*태그 선택자: 태그 이름이 선택자 이다.*/
body {
    background-color: #f9d9ca;
}

/*
아이디 선택자
id 속성값이 선택자로 "#"으로 시작하고 문서에서 한 군데만 사용 가능하다.
id 속성값의 이름을 기준으로 설정하기 때문에 중복적인 이름은 피하는 것이 좋다.
공백은 사용하지않기! (공백사용시에는 _이용)
*/
#orange {
    color: orange;
}

/*
클래스 선택자: class 속성 값이 선택자로 "."으로 시작하고 2군데 이상 사용 가능하다.
클래스 선택자 앞에 태그 선택자를 사용하면 특정 태그의 클래스 선택자만 스타일 적용이 가능하다.
*/
.orange {
    color: green;
}