.container1 {
    padding-top: 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(black, .15);
}

.card {
    border: none;
}

.container__text {
    margin-top: 15%;
}

.main__image--size {
    width: 80%;
    height: 80%;
    margin-top: 7%;
    margin-left: 15%;
}

.main__textstyle {
    color: rgb(43, 96, 156);
}

.main__text__icon {
    width: 5%;
    height: 5%;
}

.main__profile__text {
    font-size: 10px;
    font-weight: bold;
}